@import url('https://fonts.googleapis.com/css?family=PT+Sans');
@import './breakpoints.scss';

// Colors
$background-color: #02497f;
$light-main: #0c95fe;
$bright-main: #55b5ff;

$bright-orange: #ffb149;
$dark-purple: #553f86;
$mid-purple: #6c569d;
$light-purple: #a591cf;

$white: #ffffff;
$black: #000000;

// Specifics
$loading-box-light: $white;
$loading-box-dark: $bright-orange;
$channel-box-highlight-color: $black;
$overlay-icon-highlight-color: $bright-orange;
$overlay-opacity: 0.8;

// Measurements
$box-border-width: 1px;
$button-font-size: 36px;

// Fonts
// $base-font: 'Lato', sans-serif;
// $base-font: 'Alegreya Sans', sans-serif;
$base-font: 'PT Sans', sans-serif;

// Animations
@keyframes wiggle {
  0% { transform: rotate(0deg); }
  45% { transform: rotate(0deg); }
  50% { transform: rotate(25deg); }
  55% { transform: rotate(-25deg); }
  65% { transform: rotate(0deg); }
  100% { transform: rotate(0deg); }
}

// Helper classes
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.horizontal {
  display: grid;
  grid-template-columns: 50% 50%;
  justify-content: center;
  align-items: center;
  grid-gap: 2px;
  width: 100%;
}

.expand-to-fit {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.orange {
  color: $bright-orange;
}

// Toggling visibility based on breakpoint.
.mobile-only {
  display: none;
  @include mq('tablet-wide', 'max') {
    display: block;
  }
}

.desktop-only {
  display: none;
  @include mq('tablet-wide') {
    display: block;
  }
}

// Add button
.action-button {
  flex-direction: column;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition-duration: 0.2s;
  transition-property: background-color;

  .icon {
    color: $bright-orange;
    font-size: 120px;
  }

  .label {
    font-size: 20px;
    color: $white;
  }

  &:hover {
    background-color: rgba($black, 0.4);

    .icon {
      color: $white;
    }
  }
}

// Eva Icons
svg.eva {
  width: 30px;
  height: 30px;
  fill: $white;
  cursor: pointer;
  &:hover {
    fill: $bright-orange;
  }
}

// Input box
.text-input {
  border: none;
  padding: 10px;
  background-color: $white;
  color: $black;
  font-size: 20px;

  &:focus {
    background-color: $white;
    box-shadow: 0.2rem 0.8rem 1.6rem $black;
  }

  &::placeholder {
    color: $white;
    opacity: 1;
  }
}

// Button
.button {
  font-family: inherit;
  font-size: inherit;
  background: none;
  cursor: pointer;
  display: inline-block;
  padding: 25px 40px;
  margin: 15px 30px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  position: relative;
  transition: all 0.3s;
	overflow: hidden;

  border: 3px solid $white;
  color: $white;

  @include mq('tablet-wide', 'max') {
    max-width: 100%;
    margin: 0;
    // padding-left: 0;
    // padding-right: 0;
    // border: none;
  }

  &:after {
    content: '';
    position: absolute;
    z-index: -1;
    transition: all 0.2s;

    width: 0;
    height: 103%;
    top: 50%;
    left: 50%;
    background: $light-main;
    opacity: 0;
    transform: translateX(-50%) translateY(-50%);
  }

  &:after,
  &:active {
    color: $white;
  }

  &:hover:after {
    width: 90%;
    opacity: 1;
  }

  &:active:after {
    width: 101%;
    opacity: 1;
  }
}

.button--small {
  padding: 5px;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
}