// Colors
$fancy-blue: #0078f0;

// Measurements
$box-border-width: 2px;
$button-font-size: 36px;

// Helper classes
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.expand-to-fit {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
}
