// Colors
$background-color: #02497F;
$light-main: #0C95FE;
$bright-main: #55B5FF;

$bright-orange: #FFB149;
$dark-purple: #553f86;
$mid-purple: #6C569D;
$light-purple: #a591cf;

$white: #ffffff;

// Specifics
$loading-box-light: $white;
$loading-box-dark: $bright-orange;
$channel-box-highlight-color: $bright-orange;
$overlay-icon-highlight-color: $bright-orange;

// Measurements
$box-border-width: 2px;
$button-font-size: 36px;

// Helper classes
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.expand-to-fit {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
}

// Button
.button {
  font-family: inherit;
  font-size: inherit;
  background: none;
  cursor: pointer;
  display: inline-block;
  padding: 25px 80px;
  margin: 15px 30px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  position: relative;
  transition: all 0.3s;
	overflow: hidden;

  border: 3px solid $white;
	color: $white;

  &:after {
    content: '';
    position: absolute;
    z-index: -1;
    transition: all 0.2s;

    width: 0;
    height: 103%;
    top: 50%;
    left: 50%;
    background: $light-main;
    opacity: 0;
    transform: translateX(-50%) translateY(-50%);
  }

  &:after,
  &:active {
    color: $white;
  }

  &:hover:after {
    width: 90%;
    opacity: 1;
  }

  &:active:after {
    width: 101%;
    opacity: 1;
  }
}
